.gorev {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    border: 2px solid rgb(154, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.b {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin: 5px;
}