.gorev {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
    border: 2px solid rgb(154, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e8e1e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.gorev:hover{
    transform: translateY(-4px);

}
.a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.b {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin: 5px;
}